.App {
  text-align: center;
}

 /*.complete-button {
  margin-left: 10px;
  background-color: gray;

  color:white;
  cursor: pointer;
}

.complete-button.completed {
  background-color: red;
  color: #ffffff;
  
}

*/






